<div>

    <h2>Posts</h2>


    <a class="btn btn-primary btn-lg" href="/#/posts/new">
        <span class="glyphicon glyphicon-flash"></span> Create a new Post
    </a>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>title</th>
                
                <th>body</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="post in posts">
                <td>{{post.id}}</td>
                
                <td>{{post.title }}</td>
                
                <td ><div ng-bind-html="to_trusted(post.body)"></div></td>
               
                <td> <markdown model="post"></markdown></td>
                
                <td>
                    <button type="submit"
                            ng-click="update(post.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(post.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
